
body {
	margin: 0px;
	padding: 0px;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	overflow-x: hidden;
	background-color: inherit;
	background-position: inherit inherit;
	background-repeat: inherit inherit;
}

/* pre {
	font-size: 12px;
	padding: 0;
	margin: 0;
	background: #f0f0f0;
	line-height: 20px; 行距
	background: url(pre-bg.gif) repeat-y left top;
	width: 600px;
	overflow: auto; 超出宽度出现滑动条
	overflow-Y:hidden; 作用是隐藏IE的右侧滑动条
} */
